@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.2rem;
    background-image: url('https://images.unsplash.com/photo-1511593358241-7eea1f3c84e5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8d2F0ZXJ8ZW58MHx8MHx8fDA%3D');
    background-repeat:no-repeat ;
    background-size: cover;
    opacity: 1;
   
    /* background: linear-gradient(to right, purple 50%, blue, ); */

}
body::after{
    opacity: 0.5;
}
.heading{
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
}
.paragraph{
    text-align: center;
    margin-top: 10px;
    color: white;
}


.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
    /* background: rgb(131,58,180); */
    /* background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); */
    gap:20px;

}

.left-text{
    flex-basis: 30%;
}
.items{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 5px;
    background-size: cover;
    background-color: #222;
    background-position: top;
    background-blend-mode: hard-light;
    transition: all 1s ease-in-out ;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}
.items:hover{
    background-position: bottom;
    background-color: rgb(150, 156, 156);
    cursor: pointer;
}

.gallery{
    display: grid;
    flex-basis: 50%;
    gap:8px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;

}
.row-2{
    grid-row: span 2;
}
.col-2{
    grid-column: span 2;
}

@media (max-width:600px){
    body{
    background: rgb(131,58,180); 
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    }
    .container{
        display: grid;
        
    }
    .gallery{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    .row-2{
        grid-column: span 2;

    }
    .col-2{
        /* grid-row: span 2; */
    }
    .col-3{
        grid-column: span 2;
        /* grid-row: span 2; */
    }
    .items{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        border-radius: 5px;
        background-size: cover;
        background-color: #222;
        background-position: top;
        background-blend-mode: hard-light;
        transition: all 1s ease-in-out ;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        
    }
    .items:hover{
        background-position: bottom;
        background-color: rgb(150, 156, 156);
        cursor: pointer;
    }
   
        
    
   
}